    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper">

            <article class="post">
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    <h2 class="headline">
                      <time datetime="{{ .Date.Format "2006-01-02" }}">
                        {{ .Date.Format "Jan 2 '06" }}
                      </time>

                    · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                    · {{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}
                      <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
                    </h2>
                </header>
                {{ if .Params.toc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>

            {{ if in .Params.tags "Investing" }}
              <aside class="enzo-call-to-action">
                <h4>
                  Interested in investing?
                </h4>

                <p>
                  Then you should check out my latest project <a href="https://enzo.fund/?utm_source=yoranbrondsema-blog&utm_medium=cta-on-post">Enzo</a>. With Enzo, we are making
                  passive investing easy and accessible to everyone.  Our
                  generation is facing a scary financial future and we believe
                  that improving the way you save money is an important step to
                  better your financial well-being.
                </p>

                <p>
                  Continue by reading <a href="https://www.yoranbrondsema.com/post/introducing-enzo-a-better-way-of-saving-money/">why we started Enzo</a> and <a href="https://enzo.fund/?utm_source=yoranbrondsema-blog&utm_medium=cta-on-post#sign-up">sign up to the waitlist</a>.
                </p>
              </aside>
            {{ end }}

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
